<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
    <title>Test Autocomplete</title>
    <script src="/js/jquery-1.8.2.min.js"></script>
</head>

<body>
    <h1>{{ hello }}</h1>
    <form id="address_form" action="" method="get">
        <input type="text" name="address" id="address" />
        <div id="selections"></div>
    </form>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/6.1.2/foundation.min.js"></script>

    <script src="//cityofphiladelphia.github.io/patterns/dist/1.4.1/js/patterns.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script>
    	   (function($, _) {
        'use strict'

        function getList(address) {
            var payload = {}
            payload['callback'] = 'back'
            payload['address'] = address
            return $.ajax({
                url: "autocomplete",
                type: "get",
                data: payload
            })
        }
        $('#address_form').on('keyup', '#address', function() {
            console.log('keyup', this.value);
            if ( this.value.length > 2 ) {
              getList(this.value).done(function(data){
                
                [].prototype.forEach(data.back, function(field){console.log(field);});
              });
            }
        });
    })(window.jQuery, window._)
    </script>
</body>

</html>
