<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
    <title>Test Autocomplete</title>
    <script src="/js/jquery-1.8.2.min.js"></script>
</head>

<body>
    <h1>{{ hello }}</h1>
    <form id="address_form" action="" method="get">
        <input type="text" name="address" id="address" />

    </form>
              <div id="result" class="pvm mbs">
                  <script type="text/template" id="tmpl-result">
                    <h2>Your polling place</h2>

                    <div id="request-details">
                      <dl>
                        <dt>Location</dt>
                        <dd>{{ location }}</dd>
                      </dl>

                      <dl>
                        <dt>Address</dt>
                        <dd>{{ display_address }}</dd>
                      </dl>

                      <dl>
                        <dt>Accessibility</dt>
                        <dd>{{ building }}</dd>
                      </dl>

                      <dl>
                        <dt>Parking</dt>
                        <dd>{{ parking }}</dd>
                      </dl>

                    </div>
                  </script>

                  <script type="text/template" id="tmpl-error">
                    <span class="error">Address was not found. Please call for more information.</span>
                  </script>

                  <script type="text/template" id="tmpl-loading">
                    <div><i class="fa fa-spinner fa-lg spin"></i> Loading...</div>
                  </script>
                </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/6.1.2/foundation.min.js"></script>

    <script src="//cityofphiladelphia.github.io/patterns/dist/1.4.1/js/patterns.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script>
(function ($, _ w) {
  var wardDivisionEndpoint = 'https://gis.phila.gov/arcgis/rest/services/ElectionGeocoder/GeocodeServer/findAddressCandidates'
  var pollingPlaceEndpoint = 'https://api.phila.gov/polling-places/v1'
  var buildingCodes = { 
      'F' : 'BUILDING FULLY ACCESSIBLE',
      'A' : 'ALTERNATE ENTRANCE',
      'B' : 'BUILDING SUBSTANTIALLY ACCESSIBLE',
      'R' : 'ACCESSIBLE WITH RAMP',
      'M' : 'BUILDING ACCESSIBLITY MODIFIED',
      'N' : 'BUILDING NOT ACCESSIBLE'
  }
  var parkingCodes = {  
    'N' : 'NO PARKING',
    'L' : 'LOADING ZONE',
    'H' : 'HANDICAP PARKING',
    'G' : 'GENERAL PARKING'
  }
  
  // Use mustache.js style brackets in templates
  _.templateSettings = { interpolate: /\{\{(.+?)\}\}/g }
  var templates = {
    result: _.template($('#tmpl-result').html()),
    error: _.template($('#tmpl-error').html()),
    loading: $('#tmpl-loading').html()
  }
  var resultContainer = $('#result')
  var addressEl = $('#address')

        // set our callback.
        w.back = function (data) {

        console.log(data);
//            [].forEach(data, function(datum){console.log(datum)})
        }
  addressEl.autocomplete({
    source: function (request, callback) {
      var divisionUrl = constructDivisionUrl(request.term)
      $.getJSON('autocomplete?callback=back&address='+this.value, function (response) {
        console.log(response);
        if (response.candidates) {
            console.log(response.candidates);
          var addresses = $.map(response.candidates, function (candidate) {
            return { label: candidate.address, division: candidate.attributes.division }
          })
          callback(addresses)
          sendEvent('Autocomplete', 'Hit', request)
        } else {
          callback([])
          sendEvent('Autocomplete', 'Miss', request)
        }
      })
    },
    select: function (evt, ui) {
      sendEvent('Autocomplete', 'Select', ui.item.label)
      var wardDivision = ui.item.division
      var pollingPlaceUrl = constructPollingPlaceUrl(wardDivision)
      resultContainer.html(templates.loading)
      $.getJSON(pollingPlaceUrl, function (response) {
        console.log(response);
        var selected = {};
        if (response.features.length < 1) {
          // if there's no features returned, indicate an error
          resultContainer.html(templates.error())
        } else {
          // Otherwise show the result
          selected = response.features[0].attributes;
          selected.building = buildingCodes[selected.building];
          selected.parking = parkingCodes[selected.parking];
          resultContainer.html(templates.result(response.features[0].attributes))
        }
      }).fail(function () {
        resultContainer.html(templates.error())
      })
    }
  })

  function constructDivisionUrl (address) {
    var params = {
      Street: address.replace(/\+/g, ' '),
      outFields: 'division',
      f: 'json'
    }
    return wardDivisionEndpoint + '?' + $.param(params) + '&callback=back'
  }

  function constructPollingPlaceUrl (wardDivision) {
    var params = {
      ward: wardDivision.substr(0, 2),
      division: wardDivision.substr(2)
    }
    return pollingPlaceEndpoint + '?' + $.param(params) + '&callback=back'
  }

  function sendEvent (type, label, value) {
    dataLayer.push({
      'event': type,
      'eventCategory': 'Behavior',
      'eventAction': label,
      'eventLabel': value
    })
  }
})(window.jQuery, window._, window)
    /*
    (function($, _, w) {
      'use strict'
      var address = $('#address1')

      address.autocomplete({
        source: function (request, callback) {
          var url = 'autocomplete?callback=back'
          $.getJSON(url, function (response) {
            if (response.candidates) {
              var addresses = $.map(response.candidates, function (candidate) {
                return { label: candidate.address, division: candidate.attributes.division }
              })
              callback(addresses)
              sendEvent('Autocomplete', 'Hit', request)
            } else {
              callback([])
              sendEvent('Autocomplete', 'Miss', request)
            }
          })
        },
        select: function (evt, ui) {
          sendEvent('Autocomplete', 'Select', ui.item.label)
          var wardDivision = ui.item.division
          var pollingPlaceUrl = constructPollingPlaceUrl(wardDivision)
          resultContainer.html(templates.loading)
          $.getJSON(pollingPlaceUrl, function (response) {
            var selected = {};
            if (response.features.length < 1) {
              // if there's no features returned, indicate an error
              resultContainer.html(templates.error())
            } else {
              // Otherwise show the result
              selected = response.features[0].attributes;
              selected.building = buildingCodes[selected.building];
              selected.parking = parkingCodes[selected.parking];
              resultContainer.html(templates.result(response.features[0].attributes))
            }
          }).fail(function () {
            resultContainer.html(templates.error())
          })
        }
      })
        function getList(address) {
            var payload = {}
            payload['address'] = address
            return $.ajax({
                url: "autocomplete",
                type: "get",
                dataType: "jsonp",
                jsonpCallback: "back",
                data: payload
            })
        }

        // set our callback.
        w.back = function (data) {

        console.log(data);
//            [].forEach(data, function(datum){console.log(datum)})
        }
        $('#address_form').on('keyup', '#address', function() {
            console.log('keyup', this.value);
            if ( this.value.length > 2 ) {
              getList(this.value);
            }
        })

    })(window.jQuery, window._, window)
    */
    </script>
</body>

</html>
